* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}

.mainBox {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin-bottom: 200px;
}

.stage {
  width: 50% !important;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: orange;
  margin-right: 180px;
  border-radius: 20px;
}

.wrapAllSmallCircle {
  padding: 50px 200px 0px 0px;
}

.mainBoxA {
  display: flex;
}
.boxA {
  background-color: orange;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}
.mainB {
  display: flex;
}

.boxB {
  background-color: pink;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.mainC {
  display: flex;
}
.boxC {
  background-color: lightgreen;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}
.mainD {
  display: flex;
}
.boxD {
  background-color: red;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}
.totalticketPrice {
  align-self: flex-start;
  margin-top: 50px;
  margin-left: 120px;
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid orange;
  border-radius: 20px;
  padding: 50px;
}
/* ipad pro */
@media screen and (max-width: 1024px) {
  .wrapAllSmallCircle {
    padding: 80px 0px 0px 0px;
  }
  .stage {
    margin-top: 200px;
    margin-right: 0px;
  }
  .totalticketPrice {
    top: -30px;
  }
}
/* ipad air  */
@media screen and (max-width: 900px) {
  .stage {
    width: 65%;
  }
  .mainBoxA {
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: auto;
  }
  .boxA {
    width: 70px;
    height: 70px;
  }
  .mainB {
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: auto;
  }

  .boxB {
    width: 70px;
    height: 70px;
  }

  .mainC {
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: auto;
  }
  .boxC {
    width: 70px;
    height: 70px;
  }
  .mainD {
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: auto;
  }
  .boxD {
    width: 70px;
    height: 70px;
  }

  .wrapAllSmallCircle {
    padding: 80px 0px 0px 0px;
  }
  .stage {
    width: 58% !important;
  }
  .totalticketPrice {
    top: -50px;
  }
}

@media screen and (max-width: 600px) {
  .boxA {
    width: 50px;
    height: 50px;
  }
  .mainBoxA {
    width: 100%;
  }
  .boxB {
    width: 50px;
    height: 50px;
  }
  .mainB {
    width: 100%;
  }
  .boxC {
    width: 50px;
    height: 50px;
  }
  .mainC {
    width: 100%;
  }
  .boxD {
    width: 50px;
    height: 50px;
  }
  .mainD {
    width: 100%;
  }
  .stage {
    width: 80% !important;
    height: 60px;
    font-size: 25px;
    margin-top: 0;
  }
  .totalticketPrice {
    position: relative;
    bottom: 0 !important;
    right: 50%;
    transform: translateX(35%);
    border-radius: 20px;
    width: 80%;
  }
  .wrapAllSmallCircle {
    margin-bottom: 40px;
    padding-top: 40px;
  }
}
